<!-- Background -->
<div class="background-image"></div>

<!-- Content -->
<div class=content>
  <div id="progressbar"></div>

  <!-- NavBar -->
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#definition" class="active">Definition</a>
      </li>
      <li class="nav-item">
        <a href="#destinations">Destinations</a>
      </li>
      <li class="nav-item">
        <a href="#motivation">Motivation</a>
      </li>
      <li class="nav-item">
        <a href="#problems">Problems</a>
      </li>
      <li class="nav-item">
        <a href="#interview">Interview</a>
      </li>
      <li class="nav-item">
        <a href="#history">History</a>
      </li>
      <li class="nav-item">
        <a href="#economy">Economy</a>
      </li>
    </ul>
  </div>

  <!-- Router outlet -->
  <div style="padding-top: 56px;">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p id='built'>Built by <a href="https://github.com/32byte">Alexey</a>, Arthur, Csaba, Maxi</p>
    <p id='source'>Sources can be seen <a href="/sources">here</a></p>
  </div>
  <!-- <a>Footer</a> -->
</div>
