<!-- Background -->
<div class="background-image"></div>

<!-- Content -->
<div class=content>
  <div id="progressbar"></div>

  <!-- NavBar -->
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#home" class="active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#test">Test</a>
      </li>
      <li class="nav-item">
        <a href="#test2">Test2</a>
      </li>
    </ul>
  </div>

  <!-- Router outlet -->
  <div style="padding-top: 56px;">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p id='built'>Built by <a href="https://github.com/32byte">Alexey</a>, Arthur, Csaba, Maxi</p>
    <p id='source'>Sources can be seen <a href="/sources">here</a></p>
  </div>
  <!-- <a>Footer</a> -->
</div>
