<div class='content'>
    <div class='sources'>
        <h1>Sources</h1>
        <p>Manuela Vock (27.06.2018) Wer sind die Expats? https://www.hrtoday.ch/de/article/expat-insider-studie-2017</p>
        <p> Julia Kagan (May 9, 2018) Expatriate https://www.investopedia.com/terms/e/expatriate.asp</p>
        <p> International Citizens https://www.internationalcitizens.com/expatriates/problems-faced-expatriates.php</p>
        <p> Peter (16th November 2015)https://www.atlasandboots.com/most-common-expat-problems/</p>
        <div style="height: 3.2vh;"></div>
    </div>
</div>