.content {
    background-color: rgba(0, 0, 0, .25);
    min-height: calc(100vh - 116px);
    width: 90vw;
    margin: auto;
    background-attachment: fixed;
    overflow-wrap: break-word;
}

.sources {
    position: relative;
    left: 15vw;
    width: 60vw;
    height: auto;
    text-align: center;
}

li {
    position: relative;
    left: 36px;
    width: calc(60vw - 52px);
    text-align: left;
    font-family: 'Nunito Sans';
    font-size: calc(12px + .8vh);
    color: #dddddd;
}

h1 {
    color: #dddddd;
    font-size: calc(36px + 2vh);
    font-family: 'Roboto';
}
