.content {
  background-color: rgba(0, 0, 0, .25);
  height: 100vh - 36px;
  width: 90vw;
  margin: auto;
  background-attachment: fixed;
  text-align: center;
}

.text {
  width: 85vw;
  text-align: center;
  font-family: 'Nunito Sans';
  margin-left: 2.5vw;
  font-size: calc(16px + .6vh);
  color: #dddddd;
}

.anchor {
  color: #dddddd;
}
.anchor span {
  position:absolute; top:-56px;
}
