<div class="content">
    <section>
        <span id="definition"></span>
        <br>
        <h1>Definition</h1>
        <p class="text">
            In international understanding an expatriate is a person which often but not necessary works in foreign countries for a longer time on behalf of his company. An expatriate can also be an individual who has relinquished citizenship in their home country to become a citizen of another. (Kagan, 2018)
            <br>
            “An expatriate is a migrant worker who is a professional or skilled worker in his or her profession. The worker takes a position outside his/her home country, either independently or as a work assignment scheduled by the employer, which can be a company, university, government, or non-governmental organization. If your employer sends you from your job in its Silicon Valley office to work for an extended period in its Toronto office, you would be considered an expatriate or "expat" after you arrive in Toronto.
            <br>
            Expats usually earn more than they would at home, and more than local employees. In addition to salary, businesses sometimes give their expatriate employees benefits such as relocation assistance and housing allowance. Living as an expatriate can be exciting and present an excellent opportunity for career advancement and global business exposure, but it can also be an emotionally difficult transition that involves separation from friends and family while adjusting to an unfamiliar culture and work environment. Hence, the reason behind the higher compensation offered to these migrant workers.” (Kagan, 2018)
            <br>
            By the swiss law an expatriate is an employee who temporarily works in a foreign country for his company. During this period, the social security legislation of the country of origin remains applicable. (Vock, 2018)
        </p>
    </section>
    <section>
        <span id="destinations"></span>
        <br>
        <h1>Top destinations</h1>
        <p class="text">
            In 2019, a total of 20,259 expatriates took part in the Expat Insider survey.
            <br>
            The Survey was divided into 5 different categories. Quality of live, ease of settling in, work, family life and personal finances. Each category is important and contributes to the final rank of the countries. 
        </p> 
        <br>
        <ul>
            <li class="text">A very good destination for expats is Taiwan. Taiwan has done well in all of these categories, but the real reason expats love this country, is because of it’s quality and its affordable to live in Taiwan. Also, the medical care, which is very important, is quite affordable. No other destination has performed better as Taiwan for either factors. Another very good destination is Vietnam. Vietnam has great work offers and the people who work in Vietnam are usually very satisfied. Vietnam also offers a friendly neighbourhood, so its easy for everyone to settle in. With all these ratings, its no surprise that Vietnam reaches the top 3 destinations, second best destination overall.</li>
            <li class="text">Another great destination for expats would be Portugal. Expats rank Portugal first for feeling at home and third for friendliness. Portugal reaches the 15th place for finances, which is not a bad result. Overall Portugal manage to reach the third place in the ranking. Taiwan, Vietnam, Portugal are the best destinations, but there are also a lot more destinations that are appealing to expats.</li>
        </ul>
        <p class="text">(InterNations, 2019)</p>
        <br>
        <ul>
            <li class="text">Take for example Spain. Spain is a very popular destination for expats due to the high temperatures and the sun shines the whole year long. The movie in is a lot easier in Spain, then in other countries. This is because in Spain EU residents don’t require a visa to work there. There is also a high demand for skilled foreign workers. For example, Engineering, customer service, skilled trades and language teachers are being demanded. A huge 14% of Spain’s population are expats from a variety of foreign countries.</li>
            <li class="text">Expats also like Dubai. Two of the main attractions of moving to Dubai are the tax-free salaries and the warm climate. Popular jobs for expats in Dubai would be construction worker, banker and tourist guide. The expat community in Dubai is constantly growing, so you will have no trouble in finding friends and lovers. Although Dubai is an expensive country, the tax-free salary means that you get a higher quality of live than in other countries.</li>
            <li class="text">Well and than there is of course Canada. Reasons for moving to Canada would be: Its national healthcare system, the friendly locals and very high quality of life. Canada is welcoming to expats. They encourage skilled foreigners to move there for the country to grow economically. Its also easy for expats to feel comfortable and at home due to the many people with different cultures, who live there.</li>
            <li class="text">For the last country let’s take a look at Switzerland and what it has to offer to the expat community. Switzerland is popular among expats because of its high living standards and jobs. Its great for people who love the nature. It has many lakes, mountains to hike in and skiing in the winter. Expats with children won’t have problems either, because the education system is excellent. Although English is not the main language of Switzerland, its widely spoken among the people. In conclusion Switzerland is a great country for expats to live in. </li>
        </ul>
        <p class="text">(Kerry Clossick, 2019)</p>
    </section>
    <section>
        <span id="motivation"></span>
        <br>
        <h1>Motivation</h1>
        <p class="text">
            For some people the motivation to leave their home country is to get another Job or they get send there by their offices. These Businesspeople are mostly more expensive than local employees because they need a new home, health care, fees for the education of their children and so on.
            <br>
            Often it is the will to get a better job or make career in the resort you are working that lead people to other countries.
            <br>
            “It is widely accepted that expatriates have career expectations and motivations for working abroad that differ according to whether their posting is self-initiated or assigned by their employer. These factors also affect organisational embeddedness in the host country organisation. (Emerald Publishing Limited, 2018)            
        </p>
    </section>
    <section>
        <span id="problems"></span>
        <br>
        <h1>Common problems faced by expats</h1>
        <p class="text">Living in a foreign country can be an intimidating experience. You have many different challenges and problems when you move there. Expatriates need to learn cultural nuances, customs, and expectations. As an outsider in a foreign land, these things can be difficult to understand. (International Citizens, n.d.)</p>
        <br>
        <p class="subtitle">Loneliness</p>
        <p class="text">“Expats have a tendency to be transient. And when you don’t stay in one place long enough to form lasting friendships, it can often feel lonely.<br>The first few weeks in an unfamiliar location are usually the most challenging. But it can also be one of the most exciting times in life.” (International Citizens, n.d.)</p>
        <br>
        <p class="text">“The number-one problem facing expats is the loss of their personal support networks. Over half of those surveyed (52%) said this was the biggest issue they encountered and cited making new friends in a new country one of the biggest challenges. Romantic relationships also suffer with 38% of single respondents saying the expat life makes having a romantic relationship more difficult. [...] Those who make the move with a spouse face problem of their own. Some worry that their partner or family doesn’t seem happy with the decision. A travelling spouse may well have given up a career and suffered from a loss of income, which can affect the dynamic of the relationship.” (Peter, 2015)</p>
        <br>
        <p class="subtitle">Money Management</p>
        <p class="text">When it comes to money management, expatriates often face several problems. One of them is that they have to pay international taxes and have multiple retirement accounts. <br>So, they have to do a lot of research when moving to a new place, because it is easier that figuring it out there. (International Citizens, n.d.)</p>
    </section>
    <section>
        <span id="interview"></span>
        <br>
        <h1>Interview with an expat</h1>
        <img src="assets/profile.png" style="float: right; width: 20%; height: 20%; padding-right: 12vw;"/>
        <p class="text">
            Franziska Csaky-Pallavicini is a German and Spanish teacher, who spend almost all her life in Vienna. Last Summer she suddenly decided to go to China. She is planning on staying there for 10 to 12 Months. After a short research she found out that there were many schools who were searching for a German teacher, which meant that she could choose from a couple of different cities. In the end she chose Shanghai, because of the size of the City and because of the salary. (Csaky-Pallavicni, 2020)
            <br>
            When I asked her why she left Austria, she responded that are two interesting points for her as a linguist and teacher. The first being that she can teach people German to someone who has no clue of it. They don’t even know the alphabet. The second one is that she can get to know a new language and a new culture. What she probably wouldn’t admit, is that she really wanted to get away of her old life. T because her fiancé cheated on her one month before their marriage. (Csaky-Pallavicni, 2020)
            <br>
            The following question was why she chose China and not Australia for an example. “For those purposes, China is especially interesting because of the extreme differences, linguistically as well as culturally in general. Another aspect is that China seems to be a rising global player, gaining influence and power all over the world while at the same time being a total mystery to the rest of the world, as opposed to other international forces like the US, given their contrasting cultural policies. I liked the idea of getting at least a glimpse of what is happening in this huge country that everyone has different opinions and stories about. (Csaky-Pallavicni, 2020)
            <br>
            The major disadvantage is the costs of living, because Shanghai is a very expensive city, even though China is usually a lot cheaper than Europe. What also is a big problem for her, is that the health conditions are a lot worse. Water, air and food are a lot more polluted/ contaminated. Right now, she has a lot of struggle with the corona virus. She was in Vietnam on a holiday trip when the Virus broke out. You could call that lucky, but now she must go back because the holidays are over, and school starts. But because the government is trying to stop the spreading, its very hard to get in and out China. Opposing to those disadvantages are also many positive things, such as the good food. Of course, not everyone likes the Chinese kitchen, but she said she loves to go out on the street and try everything. As mentioned earlier, the experience of a new a new culture and a huge, crazy and international City. (Csaky-Pallavicni, 2020)
            <br>
            When I think of suddenly moving to China, my first thought would be that I would’ve a lot of problems. Surprisingly it was quite easy for her. “I have to say that after what I had heard and read, I was expecting the worst as in paperwork, legal issues, visa, etc. So, I am not saying it is fun to get a job, visa, rent contract and so on in China, I'm saying it was easier than what I expected” (Csaky-Pallavicni, 2020)
            <br>
            In the end I asked her if she would do it again and her answer was very clear. She definitely does not regret her Decision and she would do it again anytime. (Csaky-Pallavicni, 2020)
        </p>
    </section>
    <section>
        <span id="history"></span>
        <br>
        <h1>History</h1>
        <p class="text">
            The first expats were merchants, missionaries and diplomats who travelled from one country to another. It was not that easy in that times because it was often dangerous.
            <br>
            After learning how to use the power of steam more people were able to travel with ships and trains, so they travelled cheaper, and it was less dangerous.
            <br>
            During 1930 Germany was often expatriating families also known people like Albert Einstein because they didn't want them in their country.
            <br>
            Since 1950 people also travel by airplanes so the word global nomads are now also used to describe this kind of people.
            <br>
            "Global mobility has increased significantly over the past decade and expatriates constitute a large and diverse market", comments Tobias Schneider, a Consultant at Finaccord. "In order to fully describe this market, Finaccord has developed the first ever comprehensive and standardized analysis of expatriates worldwide that provides a consistent segmentation of expatriates. According to this analysis, the majority of expatriates in 2013 were classifiable as individual workers (73.6%) followed by students (8.8%), retired expatriates (3.7%) and corporate transferees (1.0%), with the balance of other expatriates (defined as non-employed spouses and children) making up the residual 12.8%." (Napolitano, 2018)
            <br>
            Today short-term assignments are more common than long-term assignments because it's easier to travel so that the people see their families more often.
            <br>
            Also, people who go to other countries by their own (not send by a company) are nowadays more common. The name of them are "Self-initiated expatriation".
            <br>
            Another kind of people are the "Flexpatriates" these people travel around the world and change their working area really often and frequently. These people often have problems in their family because they don't settle down on one specific place for long time to build up a friend-circle and their children need to change the school also quite often.
            <br>
            Today there are also a lot of people who work in a Home Office so they decide where they want to stay and work from there. (Napolitano, 2018)
            <br>
            “London, 20 January 2014 - According to a new research report published by Finaccord, the total number of expatriates worldwide amounted to around 50.5 million in 2013. This figure has grown at a compound annual rate of 2.4% since 2009, given that there were around 46.0 million expatriates in that year. By 2017, Finaccord forecasts that the number will reach around 56.8 million.” (Napolitano, 2018)            
            <br>
        </p>
    </section>
    <section>
        <span id="economy"></span>
        <br>
        <h1>Impact on economy</h1>
        <p class="text">
            “Expatriates tend to be major driving forces of the economic performance in the areas that they move to. This is largely due to the presence of increased remuneration and beneficial tax provisions for expatriates, which provide an incentive to relocate and enable individuals to make a more comfortable transition overseas. As a result of these provisions, expatriates tend to have higher amounts of disposable income, which is then reinvested into the local economy.” (Roebruck, n.d.)
            <br>
            Even though they are pushing the economy, as mentioned above, it also brings problems. The expats tend to spend their disposable income on international stores instead of investing in local stores. Often natives also see the expats as a problem, because they think, that they steak their jobs. This causes a hate against all immigrants. (Roebruck, n.d.)            
        </p>
    </section>
    <br>
</div>
